
  <div class="container">
    <div class="row">
      <div class="heading center ">
        <h4>Registration Numbers</h4>
        <h4>This Widget Uses Handlebars</h4>
      </div>
    </div>

<div class="row">
  <div class="regNumInput center">
    <h6>Enter a Registration Number:</h6>
    {{#if messages.invalid}}
    <div class="alertInvalid">
        <h3> {{messages.invalid}}</h3>
    </div>
    {{/if}}

    {{#if messages.valid}}
    <div class="alertValid">
        <h3> {{messages.valid}}</h3>
    </div>
    {{/if}}

    <form class="" action="/reg" method="post">

    <select onchange="filterBy(this)" type='submit' class="regSelectTwo" name="regSelect">
        <!-- <option class="regSelectTwo "  name='town'>Select a Town:</option> -->
        <option class="regSelectTwo"  name='town' value="All">All</option>
        {{#each dropDown}}
        <option value="{{town}}" {{selectedTag}}>{{town_name}}</option>
        {{/each}}

        <!-- <option class="regSelectTwo"  name='town' value="CA ">Cape Town</option>
        <option class="regSelectTwo"  name='town' value="CY ">Bellville</option>
        <option class="regSelectTwo"  name='town' value="CL ">Stellenbosch</option>
        <option class="regSelectTwo"  name='town' value="CAW">George</option> -->



      </select>

    <input class='regTextandNumTwo' name="regInput" value="" pattern='[A-Z]{2,3}\s\d{3}\W\d{3}'>

    <button class="addRegButtonTwo" type="submit" name="button">Add</button>
  </form>

  </div>

</div>

<div class="row center">
  <div class="displayRegClass">

    {{#each regPlate}}
    <li class=''>
      {{reg}}
      <!-- {{filteredReg}} -->
    </li>
    {{/each}}

  </div>
  <div class="clearButtonTwo center">
    <a href="/reset" ><button class="clearRegButton" type="button" name="button">Clear</button></a>

  </div>

</div>


  </div>

  <script type="text/javascript">
    function filterBy(elem){
      var  tag = elem.value
      location.href = '/filter/' + tag
    }
  </script>
